Flask[async]
requests
gunicorn
aiohttp
googleapis-common-protos
pycryptodome
protobuf
Werkzeug
colorama
flask-caching
crypto
schedule
urllib3
flask-sqlalchemy
sqlalchemy
psycopg2-binary
serverless-wsgi
